/vendor/
composer.lock
composer.json
autoload_classmap.php
autoload_namespaces.php
autoload_real.php
autoload_static.php
ClassLoader.php
installed.json
installed.php
installedVersions.php
autoload_psr4.php
autoload.php
vendor
```