*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, p{
    text-align: center;
    margin: 20px;
}
h1{
    font-size: 3rem;
}
p{
    font-size: 1.2rem;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
input{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    width: 300px;
    border: 1px solid #000;
    border-radius: 5px;
}
label[for="sexo"]{
    margin-right: 180px;

}
.radio-buttons label {
    display: inline-flex;
    width: 5px; 
    text-align: right;
    margin-left: 180px;
}
.radio-buttons input[type="radio"] {
    display: inline-block;
    margin-right: 100px;
}